*{
  background-color: linear-gradient(to right, #ff0000, #ff8000);
}


.section1{
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px;
 
  background-color: white;
}
.note{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-height: 200px;
}
.btn2{
 top: right;
}

.tt{
  
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}
